<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="checkerRules" type="BBI.JD.Util.CheckerRulesConfig, CheckerRules" />
  </configSections>

  <appSettings>
    <!--<add key="disableOldAddin" value="True" />-->
  </appSettings>

  <checkerRules>
    <addins>
    </addins>
  </checkerRules>

</configuration>