<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="checkerRules" type="BBI.JD.Util.CheckerRulesConfig, CheckerRules" />
  </configSections>

  <appSettings>
    <!--<add key="disableOldAddin" value="True" />-->
  </appSettings>

  <checkerRules>
    <addins>
      <addin path="D:\WORK\Visual Studio Projects - 2017\Projects\CheckerRules\AR_Rules\bin\Debug\AR_Rules.dll"
        version="1.0.0.0">
        <rules>
          <rule id="553a06e6-9bba-43b4-9f5f-7753b79d3e83" name="Not Placed"
            group="Architecture" description="Find ROOM &amp; AREA not placed."
            assemblyQualifiedName="AR_Rules.NOT_PLACED, AR_Rules, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <rule id="71597df6-875b-4680-b209-d6a1f5294608" name="Not Enclosed"
            group="Architecture" description="Find ROOM &amp; AREA not enclosed."
            assemblyQualifiedName="AR_Rules.NOT_ENCLOSED, AR_Rules, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <rule id="418c324d-99e9-473f-9277-654a5cada65b" name="Redundant"
            group="Architecture" description="Find ROOM &amp; AREA redundant."
            assemblyQualifiedName="AR_Rules.REDUNDANT, AR_Rules, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <rule id="553a06e6-9bba-43b4-9f5f-7753b79d3f92" name="Levels"
            group="Architecture" description="Get all levels."
            assemblyQualifiedName="AR_Rules.LEVELS, AR_Rules, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </rules>
      </addin>
      <addin path="D:\WORK\Visual Studio Projects - 2017\Projects\CheckerRules\MA_Rules\bin\Debug\MA_Rules.dll"
        version="1.0.0.0">
        <rules>
          <rule id="6d255b9d-c13d-463d-bd08-2bd649ad0843" name="Project Units"
            group="Manage" description="Get project units config." assemblyQualifiedName="MA_Rules.PROJECT_UNITS, MA_Rules, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <rule id="6d255b9d-c13d-463d-bd08-2bd649ad0852" name="Links"
            group="Manage" description="Get information from associated links."
            assemblyQualifiedName="MA_Rules.LINKS, MA_Rules, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <rule id="6d255b9d-c13d-463d-bd08-2bd649ad0978" name="Template Review"
            group="Manage" description="Get review date from BBI Cuba template." assemblyQualifiedName="MA_Rules.TEMPLATE_REVIEW, MA_Rules, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <rule id="6d255b9d-c13d-463d-bd08-2bd649ad0962" name="Warnings"
            group="Manage" description="Get warnings." assemblyQualifiedName="MA_Rules.WARNINGS, MA_Rules, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <rule id="6d255b9d-c13d-463d-bd08-2bd649ad12h2" name="Unpurged"
            group="Manage" description="Get the number of elements to purge." assemblyQualifiedName="MA_Rules.UNPURGED, MA_Rules, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </rules>
      </addin>
      <addin path="D:\WORK\Visual Studio Projects - 2017\Projects\CheckerRules\CO_Rules\bin\Debug\CO_Rules.dll"
        version="1.0.0.0">
        <rules>
          <rule id="b1ed2dac-d5d3-4b7f-bcdd-50fb2dc9a93f" name="Worksets"
            group="Collaborate" description="Get all worksets." assemblyQualifiedName="CO_Rules.WORKSETS, CO_Rules, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </rules>
      </addin>
    </addins>
  </checkerRules>

</configuration>